{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="super_container">

	<!-- developers -->

	<div class="trainers"style="align:center;">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_title"><h1>POSTIO PROJECT</h1></div>
						<div class="section_title"><h1>DEVELOPERS</h1></div>
					</div>
				</div>
			</div>
			<br><br>
			<div class="row trainers_row" style="margin-left:auto; margin-right:auto;">
				
				<!-- Trainer -->
				<div class="col-xl-3 col-md-6">
					<div class="trainer_box">
						<div class="trainer_image">
							<img src="{% static "seohyung.jpg" %}" alt="" style="height:200px; width:200px;margin-left:20px;"  >
							<div class="trainer_info">
								<div class="d-flex flex-column align-items-center justify-content-center">
									<div class="trainer_name"><a href="#">김현지</a></div>
									<div class="trainer_title"> 컴퓨터공학과</div>
								</div>
							</div>
						</div>
						<div class="trainer_content">
							<div class="social trainer_social">
								
							</div>
							<div class="trainer_text text-center">
								<p> 
								</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Trainer -->
				<div class="col-xl-3 col-md-6" style="align:center;">
					<div class="trainer_box">
						<div class="trainer_image">
							<img src="{% static "chungha.jpg" %}" alt="" style="height:200px;width:200px;margin-left:20px;"  >
							<div class="trainer_info">
								<div class="d-flex flex-column align-items-center justify-content-center">
									<div class="trainer_name"><a href="#">송수연</a></div>
									<div class="trainer_title"> 산업디자인학과</div>
								</div>
							</div>
						</div>
						<div class="trainer_content">
							<div class="social trainer_social">
								
							</div>
							<div class="trainer_text text-center">
								<p></p>
							</div>
						</div>
					</div>
				</div>

				<!-- Trainer -->
				<div class="col-xl-3 col-md-6">
					<div class="trainer_box">
						<div class="trainer_image">
							<img src="{% static "suzy.jpg" %}" alt="" style="height:200px;width:200px;margin-left:20px;"  >
							<div class="trainer_info">
								<div class="d-flex flex-column align-items-center justify-content-center">
									<div class="trainer_name"><a href="#">이혜린</a></div>
									<div class="trainer_title"> 독일어문문화학과</div>
								</div>
							</div>
						</div>
						<div class="trainer_content">
							<div class="social trainer_social">
								
							</div>
							<div class="trainer_text text-center">
								<p></p>
							</div>
						</div>
					</div>
				</div>

				<!-- Trainer -->
				<div class="col-xl-3 col-md-6">
					<div class="trainer_box">
						<div class="trainer_image">
							<img src="{% static "changwook.jpg" %}" alt="" style="height:200px; width:200px; margin-left:20px;"  >
							<div class="trainer_info">
								<div class="d-flex flex-column align-items-center justify-content-center">
									<div class="trainer_name"><a href="#">임경서</a></div>
									<div class="trainer_title">정보시스템공학과</div>
								</div>
							</div>
						</div>
						<div class="trainer_content">
							<div class="social trainer_social">
								
							</div>
							<div class="trainer_text text-center">
								<p></p>
							</div>
						</div>
					</div>
				</div>

<br><br><br>
			</div>
		</div>
	</div>

	<br><br><br>


{% endblock %}