{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
  
    <div class="col-md-6 panel panel-default" style="margin-left:auto; margin-right: auto; display: block; float:center;text-align: left;">
        <br/>
        <div>
            &nbsp;&nbsp;&nbsp;<img src="{{object.photo.url}}" style="width:350px; height:300px; margin-bottom:15px; float:center;  margin-left:auto; margin-right: auto; display: block;">
            &nbsp;&nbsp;
            
            <aside style="float:right; width:70%;">
                <h3 style="display: inline;">{{object.title_photo}}</h3>
                <p>{{object.text_photo|linebreaksbr}}</p>
                <br/>
                <br/>
                
                {% if object.p_author.username == user.username %}
                <a href="{% url 'deleteportfolio' pk=object.id %}" class="btn btn-outline-danger btn-sm float-right">DELETE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                {% endif %}
                <a href="{% url 'main' %}" class="btn btn-outline-primary btn-sm float-right">BACK</a>
                <a href="{% url 'viewprofile' %}" class="btn btn-outline-primary btn-sm float-right">{{object.p_author.username}}'s Profile</a>
            </aside>
        </div>
    </div>
</div>

{% endblock %}